In [ ]:
Pandas:
Panel Datas:

> Individual data, Institutional data, Domain data

In [6]:
# tools which contain structure data
# excel(semi-structured)
# csv (ustructured)
# database MYSQL, SQLIte, SQLSERVER, DB2, etc...(pure structured data)
# HTML(ustructured)
# XML
# WML
# etc...

In [7]:
# EDA:(Exploratory data analysis):

# Data filtering, manupulation,remove outliers,etc..

In [8]:
# Installation of pandas

In [9]:
import pandas as pd

In [10]:
# csv is a plain text file.--> get help to launch from excel sheet

In [12]:
a=pd.read_csv("test.txt")  # dataframe

In [15]:
a

   SN     Name  Age
0   1  Krishna   27
1   2   Zulqar   21
2   3   Manish   27

In [17]:
print(type(a))

<class 'pandas.core.frame.DataFrame'>

In [20]:
df=pd.read_excel("wheather.xlsx")

In [21]:
df

        Date  temperature  windspeed  event
0 2022-01-01         32.0        6.0   Rain
1 2022-01-02          NaN        9.0  Sunny
2 2022-01-03         28.0        NaN   Snow
3 2022-01-04          NaN        7.0    NaN
4 2022-01-05         32.0        NaN   Rain
5 2022-01-06          NaN        NaN  Sunny
6 2022-01-07          NaN        NaN    NaN
7 2022-01-08         34.0        8.0  Cloud
8 2022-01-09         40.0       12.0  Sunny
9 2022-01-10         30.0       10.0  Sunny

In [22]:
df.dropna()

        Date  temperature  windspeed  event
0 2022-01-01         32.0        6.0   Rain
7 2022-01-08         34.0        8.0  Cloud
8 2022-01-09         40.0       12.0  Sunny
9 2022-01-10         30.0       10.0  Sunny